{% extends "layout.html" %}

{% block title %}Contact us!{% endblock %}

{% block signupbtn %}{{message}}{% endblock %}

{% block user %}{{user}}{% endblock %}

{% block body %}
<div class="background-shade">
<div class="about-center">
  <h1>Our Journey!</h1>
  <img src="static/about.jpg" alt="Pizza" height="400" width="600">
  <h3>Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</h3>
  <h3>We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!</h3>
  <h3>Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com.</h3>
  <h3>Check out our mention on Suits!</h3>
  <iframe width="420" height="250" src="https://www.youtube.com/embed/hoM7PJu6V-E"></iframe>
  <h3>....and on the Phantom Gourmet</h3>
  <iframe width="420" height="250" src="https://www.youtube.com/embed/TkABR72j7jU"></iframe>
</div>
</div>
{% endblock %}
