@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --nav-background: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainBlack);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  margin-bottom: 0;
  height: 60px;
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  background: var(--nav-background);
  z-index: 1;
}
 .navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
  position: relative;         /*TEST*/
  cursor: pointer;            /*TEST*/
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("pizza-back.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  /* display: inline-block; */
  padding: 2rem;
  border-radius: 5px;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
 .banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 2rem;
  background: var(--nav-background);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  font-weight: bold;
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: black;
  color: var(--nav-background);
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  color: var(--mainWhite);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.products h2{
  color: var(--mainWhite);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--nav-background);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
 }
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.8rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  color: var(--mainWhite)
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--nav-background);
  text-align: center;
}

.toppings-selection {
  text-align: center;
  margin: 7px;
}

.toppings-selection-btn-div{
  text-align: center;
}

.toppings-selection-btn {
  margin: 7px;
  margin-top: 10px;
  padding: 7px;
  color: var(--mainBlack);
  background-color: red;
  border-radius: 7px;
  border: transparent solid;
  font-weight: bold;
}

.toppings-selection-hidden{
  visibility: hidden;
}

.toppings-selection-btn:hover{
  color: white;
  /* background-color: black; */
  cursor: pointer;
}

/* ---------------End of Products ---------------- */
/* --------------- Sidebar ---------------- */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: scroll; */
  z-index: 3;
  background: var(--mainBlack);
  /* background: rgb(231, 226, 221); */
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(-100%);
}

.showSidebar{
  transform: translateX(0%);
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 15vw;
    min-width: 250px;
  }
}

.close-sidebar {
  color: var(--mainWhite);
  font-size: 1.7rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  display: flex;
}

.sidebar h2 {
  color: var(--mainWhite);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  border: 3px solid red;
  padding: 3px;
  border-left: 0px;
  border-right: 0px;
}

.sidebar a:hover{
  text-decoration: none;
}

.sidebar h2:hover{
font-weight: bold;
}
/* --------------- End of Sidebar ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: var(--mainBlack);
  /* background: rgb(231, 226, 221); */
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  color: var(--mainWhite);
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  color: var(--mainWhite);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

.cart h4 {
  color: var(--mainWhite);
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  color: var(--mainWhite);
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  color: var(--mainWhite);
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
  color: var(--mainWhite);
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--nav-background);
  cursor: pointer;
} */
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: var(--mainWhite);
}

/* --------------- End of Cart ---------------- */

#submit-btn{
  float: right;
}

.form-group{
  margin: 20px;
}

label{
  float: left;
}

small{
  margin-top: 5px;
  float: left;
}
.small-class{
  float: left;
  margin-top: 5px;
}

.background-shade{
  min-height: calc(100vh - 60px);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("pizza-back.jpg") center center;
  background-size: cover;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}

.tab{
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  color: black;
  border-radius: 5px;
}

tr,td,th{
  border: 1px solid #1a1a1a;
  padding: 8px;
}

table{
  margin: 20px;
}

.signin-btn{
  margin-top: 20px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1.8rem;
  background: var(--mainBlack);
  color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
  font-weight: bold;
  transition: var(--mainTransition);
  cursor: pointer;
}

.signin-btn:hover{
  text-decoration: none;
  color: var(--mainWhite);
}

#tbtn{
position: absolute;}

.background-white{
  color: black;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
}

.about-center{
  text-align: center;
  padding: 2rem;
}
